



/*Цвет основного текста #757575*/
/*цвет вторичного текста #212121*/
/*цвет фона #FFFFFF*/
/*акцент #2196F3*/
/*bg фон серый #2F303A*/
/*цвет текста контаков футер color: rgba(255, 255, 255, 0.6);*/



/*header*/





/*hero*/







/*плюси співпраці*/

/*приклади робіт*/


/*наша команда*/


/*regular custumers*/



/*footer*/

/*Портфоліо*/
.portfolio{
    background-color: var(--main-bg);
   
}

.portfolio-list{
    margin-bottom: 50px;
    gap: 8px;
}

.portfolio-list-btn{
    display: flex;
    justify-content: center;
    
}

.portfolio-btn{
    
    padding: 6px 22px;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    background-color: var(--third-bg);
    cursor: pointer;
    transition: background-color var(--trans-dur) var(--transition-timing-function),
    color var(--trans-dur) var(--transition-timing-function),
    box-shadow var(--trans-dur) var(--transition-timing-function);
}

.portfolio-bt-item {
    list-style-type: none;
    
}


.portfolio-list-btn .portfolio-bt-list:not(:last-child){
    margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus
{
    background-color: var(--accent-color);
    color:var(--main-bg);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-img-block{
    position: relative;
    overflow: hidden;
}

 .portfolio-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--trans-dur) var(--transition-timing-function);
    padding: 63px 24px;
}

.portfolio-href:hover .portfolio-overlay,
.portfolio-href:focus .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-overlay-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-foot-bg);
}

.portfolio-href{
    text-decoration: none;
    color: var(--main-color);
    transition: box-shadow var(--trans-dur) var(--transition-timing-function);
}

.portfolio-href:hover,
.portfolio-href:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
}

.portfolio-item{
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.example{
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.example .portfolio-element{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #EEEEEE;
    list-style-type: none;
}

.img-name{
    padding: 20px 24px;
}