.pluss-work {
    background-color: var(--main-bg);
}

.section-pluss-work {
    padding-bottom: 0;
}

.pluss-work-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
}

.pluss-work-icon {
    display: flex;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 4px;
}



.pluss-work-item {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.pluss-work-list {

    display: flex;
    list-style-type: none;
}

.pluss-work-block {
    width: 270px;
}

.pluss-work-block:not(:last-child) {
    margin-right: 30px;
}