.pluss-work {
    background-color: var(--main-bg);
}

.section-pluss-work {
    padding-bottom: 0;
}

.pluss-work-title {
    @include font(14px, 1.14, 700, 0.03em);
    text-transform: uppercase;
    color: var(--second-text-color);
}

.pluss-work-icon {
    @include flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 4px;
}



.pluss-work-item {
    margin-top: 10px;
    @include font(14px, 1.71, null, 0.03em);
}

.pluss-work-list {

    display: flex;
    list-style-type: none;
}

.pluss-work-block {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

